body {
    background-color: #fdfdfd;
    font-family: 'Nobile', sans-serif;
}

/*----------NAVBAR---------*/

.navbar {
    background: none;
    border-color: transparent;
}

.navbar .navbar-collapse {
    text-align: right;
}


.navbar-nav li a {
    padding-top: 20px;
    padding-bottom: 15px;
    padding-right: 25px;
    padding-left: 25px;
    color: transparent;
}


.language {
    display: inline-block;
    padding-right: 20px;
    line-height: 44px;
}

.language:hover {
    color: #564F6F!important;
    text-decoration: none;
}

a {
    background-color: #E4E4E4;
    color: #888888;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.navbar-default .navbar-nav li a:hover {
    color: #564F6F;
}

.navbar-right {
    float: right!important;
}

@media (max-width: 5000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display: block !important;
    }
}

/*----------JUMBOTRON----------*/

.main {
    background-attachment: fixed;
    background-image: url('jumbo2.jpg');
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    padding: 0;

}

.name {
    padding-top: 5%;
}

/*------------ABOUT----------*/

.about-row {
    padding-bottom: 10%;
    font-size: 1.75rem;
    line-height: 2;
}

h2 {
    margin-left: 15px;
    font-size: 3rem;
}

/*------------WORK----------*/

.work {
    background-attachment: fixed;
    background-image: url('desk2.jpg');
    background-position: center;
    background-size: cover;
    width: 100vw;
    padding-bottom: 50px;
    background-repeat: no-repeat;
    position: relative;
    font-weight: 300;
}

.project-cards {
    display: inline-table;
    justify-content: center;
    align-items: center;
    
}

@media (max-width: 768px) {
    .project-cards {}
}

.col-xs-6 {
    align-items: center;
}

.card {
    background-color: #fdfdfd;
    border-radius: 2.5%;
    width: 18em;
    height: 18em;
    top: 50%;
    left: 50%;
    margin: 15% auto;
    padding: 15px;
    align-items: center;
    z-index: 2;
    display: block;
    opacity: 0.8;
     transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

.card:hover {
    opacity: 1;
}

.card-title {
    font-size: 22px;
    font-weight: bold;
}

.card-subtitle {
    font-size: 16px;
    font-weight: bold;
}

#card-text {
    font-size: 1.5rem;
}

#desktop-icon {
    padding: 20px 0;
    border-radius: 50%;
    font-size: 34px;
    width: 54px;
    height: 54px;
    line-height: 18px;
}

#github-icon {
    padding: 20px 0;
    border-radius: 50%;
    font-size: 36px;
    width: 54px;
    height: 54px;
    line-height: 15px;
}

.fa-desktop {
    font-size: 25px;
}

/*--------SKILLS-----------*/

.arc1 {
    width: 160px;
    height: 160px;
    background: #564F6F;
    -webkit-transform-origin: -31% 61%;
    margin-left: -30px;
    margin-top: 20px;
    -webkit-transform: translate(-54px,50px);
    -moz-transform: translate(-54px,50px);
    -o-transform: translate(-54px,50px);
}
.arc2 {
    width: 160px;
    height: 160px;
    background: #564F6F;
    -webkit-transform: skew(45deg,0deg);
    -moz-transform: skew(45deg,0deg);
    -o-transform: skew(45deg,0deg);
    margin-left: -180px;
    margin-top: -90px;
    position: absolute;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
}

.arc-container:hover .arc2 {
    margin-left: -50px;
    -webkit-transform: skew(-20deg,0deg);
    -moz-transform: skew(-20deg,0deg);
    -o-transform: skew(-20deg,0deg);
}

.arc-wrapper {
width: 120px;
    height: 120px;
    border-radius: 150px;
    background: #C3C3C3;
    overflow: hidden;
    left: 0px;
    top: 50px;
    position: absolute;
}

.arc-lowerInset {
    font-family: "Josefin Sans";
    font-weight: 100;
    position: absolute;
    font-size: 413px;
    margin-top: -64px;
    z-index: 5;
    left: 30px;
    line-height: 327px;
    height: 280px;
    color: white;
    -webkit-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,0.2), rgba(0,0,0,1));
}
.arc-overlay {
    width: 110px;
    height: 110px;
    background-color: #fdfdfd;
    padding-left: 26px;
    padding-top: 4px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    line-height: 100px;
    font-family: sans-serif;
    font-weight: 400;
    text-shadow: 0 1px 0 #fff;
    font-size: 22px;
    border-radius: 100px;
    position: absolute;
    z-index: 5;
    top: 55px;
    left: 5px;
}
.arc-container {
    position: relative;
    height: 130px;
    width: 130px;
}


.skill-icon {
    text-align: center; 
    justify-content:center;
    align-items: center;
    padding-top: 40px;
}
#skill-icon {
    display: inline-block;
    box-shadow: 0px 0px 2px #888;
    background-color: #C3C3C3;
    color: #8F8F8F;
    width: 101px;
    height: 101px;
    padding: 40px 0;
    border-radius: 50%;
    font-size: 68px;
    text-align: center;
    vertical-align: middle;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    line-height: 20px;

}

#skill-icon:hover {
    color: #564F6F;

}
/*-------CONTACT-----------*/

.contact {
    background-attachment: fixed;
    background-image: url('computer.jpg');
    background-position: left;
    background-size: cover;
    padding-bottom: 100px;
    padding-top: 42px;
}

.contact-form {
    top:50%;
    justify-content: center;
}

/*-----------FOOTER----------*/

footer {
    border-color: transparent;
    text-align: center;
}

.foot {
    margin-bottom: 20px;
}

a {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: transparent;
}

.fab,
.fas {
    line-height: 2px;
}

i {
    display: inline-block;
    box-shadow: 0px 0px 2px #888;
    background-color: #C3C3C3;
    color: #8F8F8F;
    width: 41px;
    height: 41px;
    padding: 20px 0;
    border-radius: 50%;
    font-size: 28px;
    text-align: center;
    vertical-align: middle;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    margin-top: 2.5px;
    margin-bottom: 2.5px;

}

i:hover {
    color: #564F6F;

}
